@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", "Arial", sans-serif;
  line-height: 1.3;
}

body {
  margin: 0 40px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  font-weight: 200;
}

p {
  margin-bottom: 20px;
}

hr {
  margin-top: 2px;
  margin-bottom: 10px;
}


/* Navigation */

header {
  background-color: #fff;
  padding: 20px !important;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-page {
  text-decoration: underline;
  font-weight: 400;
  text-underline-offset: 2px;
  text-decoration-thickness: 5%;
  color: #002ab2;
}

.logo-img {
  height: 24px;
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 5%;
  color: #002ab2;
}

/* Kreis, der dem Cursor folgt */

.cursor-circle {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  /* Verhindert, dass der Kreis Events blockiert */
  mix-blend-mode: difference;
  /* Für die Farb-Invertierung */
  background: white;
  /* Die invertierende Farbe */
  display: none;
  /* Standardmäßig ausgeblendet */
  z-index: 10;
}

/* Typografie und Deko-Linien */

strong {
  font-weight: 400;
}

h1 {
  font-weight: 200;
  font-style: italic;
  font-size: 72px;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  /* Fließtext bold */
}

h3 {
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  text-align: center;
  margin-bottom: 0px;
  /* Zentrierte Zitate */
}

h4 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: left;
  /* Headlines mit Linie drunter */
}

hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

.line_black {
  padding: 3px;
  background: black;
  width: 60px;
  margin-bottom: 20px;
}

.line_white {
  padding: 3px;
  background: white;
  width: 60px;
  margin-bottom: 20px;
}

p.zitat-unterschrift {
  text-align: center;
}

.text_in_box {
  padding: 50px 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
}

/* Links */

a[href="about.html"] {
  text-decoration: none;
}

.links {
  text-decoration: underline;
  text-decoration-thickness: 3%;
  text-underline-offset: 2px;
  color: #000000;
}

.links:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 3%;
  color: #002ab2;
}

/* Logos und Bilder */

.row {
  display: flex;
  flex-direction: row;
}

.wrappable {
  gap: 16px;
  /* Abstand zwischen den Logos */
}

/* Standardbreite: 4 Spalten */
.width-1_4 {
  width: calc(25% - 12px);
  /* Vier Spalten minus Abstand */
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* Padding für jedes Element */
.px-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.logosize {
  width: 100%;
  max-height: 100px;
  padding: 0;
}

.header-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-size: cover;
  position: relative;
  /* Für die Positionierung von .cursor-circle */
}

img.bild {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/* Karussell */

.carousel {
  padding-bottom: 30px;
}

.carousel-inner {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.3;
  margin: 0 auto;
}

.carousel-item img {
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000;
}

/* Kontaktseite */

.gif_hase {
  margin-left: 350px;
  position: relative;
  top: 20px;
  width: 15%;
  height: auto;
}

/* Form-Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Responsives Formular */
.responsive-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

.responsive-form input[type="text"],
.responsive-form input[type="email"],
.responsive-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.responsive-form textarea {
  min-height: 100px;
}

.responsive-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #002ab2;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.responsive-form input[type="submit"]:hover {
  background-color: #000000;
}

/* Buttons */
.button {
  background-color: #002ab2;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  min-width: 250px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border: none;
  margin: 5px auto;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

/* Audio-Container */
.audio-container {
  text-align: center;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 100%;
  max-width: 400px;
}

@keyframes pulse {
  0% {
    background-color: #000000;
  }

  50% {
    background-color: #002ab2;
  }

  100% {
    background-color: #000000;
  }

  /* Pulsierende Animation für #playAudioButton */
}

#playAudioButton {
  background-color: #002ab2;
  color: white;
  border: 1px solid #002ab2;
  padding: 10px 20px;
  width: 100%;
  min-width: 250px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  animation: pulse 2s infinite;
  transition: color 0.3s ease, border-color 0.3s ease;
}

#playAudioButton:hover {
  color: black;
  background-color: #ffffff;
  border-color: #002ab2;
  animation: none;
}

/* Hintergrund Datenschutzseite und Impressum */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.datenschutz .background-circle,
.impressum .background-circle {
  position: fixed;
  top: 200px;
  left: 200px;
  z-index: -1;
  animation: fadeIn 2s ease-out;
}

/* Footer */

.footer {
  display: flex;
  font-size: 16px;
  width: fit-content;
}

.footer div {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.back-to-top {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.back-to-top:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 3%;
  color: #002ab2;
}


/* Breakpoint: Tablets */
@media only screen and (max-width: 1040px) {
  body {
    font-size: 16px;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .cursor-circle {
    display: none;
  }

  .width-1_4 {
    width: 25%;
    /* Bleibt bei 4 Spalten */
  }

  .row {
    gap: 8px;
  }

  .maxheight-6 {
    max-height: 80px;
  }

  .footer div {
    margin-bottom: 10px;
  }

}

/* Breakpoint: Small Tablets and Large Phones */
@media only screen and (max-width: 768px) {

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .cursor-circle {
    display: none;
  }

  body {
    font-size: 16px;
    margin-right: 40px;
    margin-left: 40px;
    color: black;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .logo-img {
    margin-bottom: 0px;
  }

  .gif_hase {
    display: block;
    position: absolute;
    margin: 30px 0px 0px 30px;
    top: 200;
    left: 15;
    width: 20%;
    height: auto;
    z-index: 100;
  }

  .width-1_4 {
    width: calc 33.33%;
    /* Drei Spalten */
  }

  .row {
    justify-content: center;
    /* Zentriert das Grid */
    max-width: 100%;
    /* Breite passt sich an den Viewport an */
    margin: 0 auto;
    /* Zentriert das gesamte Row-Element */
    gap: 0px;
    /* Kein Abstand zwischen den Spalten */
  }

  .footer {
    display: block;
  }

}

/* Breakpoint: Phones */
@media only screen and (max-width: 490px) {

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .cursor-circle {
    display: none;
  }

  body {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
    color: black;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .logo-img {
    margin-bottom: 0px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .gif_hase {
    width: 20vw;
    position: fixed;
    top: 0;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  h3 {
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
    /* Zentrierte Zitate */
  }

  .form-container {
    padding: 0px 10px 30px 10px;
  }

  .responsive-form {
    padding: 0px;
    margin-bottom: 0;
  }

  .responsive-form input[type="text"],
  .responsive-form input[type="email"],
  .responsive-form textarea {
    margin: 0;
  }

  .button,
  .responsive-form input[type="submit"] {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin: 0;
  }

  #playAudioButton {
    font-size: 14px;
    padding: 10px;
    width: 100%;
    margin: 0;
  }

  h4 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    /* Headlines mit Linie drunter */
  }

  .row {
    justify-content: center;
    /* Zentriert das Grid */
    max-width: 100%;
    /* Breite passt sich an den Viewport an */
    margin: 0 auto;
    /* Zentriert das gesamte Row-Element */
    gap: 0px;
    /* Kein Abstand zwischen den Spalten */
  }

  .footer {
    display: block;
  }

}