* {
  box-sizing: border-box;
}

body {
  font: 200 16px "Noto Sans", Arial, sans-serif;
  line-height: 1.2;
  color: black;
  margin-right: 40px;
  margin-left: 40px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

header {
  background-color: #fff;
  padding: 20px;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-page {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 5%;
  color: #00bf49;
}

.logo-img {
  height: 20px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 5%;
  color: #00bf49;
}

h1 {
  font: 300;
  font-style: italic;
  font-size: 72px;
  margin: 0;
}

h2 {
  font-style: italic;
  font-size: 40px;
  margin-bottom: 10px;
}

h3 {
  font: 300;
  font-style: italic;
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
}

h4 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h5 {
  font: 500;
  font-style: italic;
  font-size: 24px;
  margin: 0;
}

.line_black {
  padding: 3px;
  background: black;
  width: 60px;
  margin-bottom: 20px;
}

.line_white {
  padding: 3px;
  background: white;
  width: 60px;
  margin-bottom: 20px;
}

.links {
  text-decoration: underline;
  text-decoration-thickness: 5%;
  text-underline-offset: 2px;
  color: #000000;
}

.bild {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.bild_contact {
  margin: 10px 10px 10px 0px;
  height: 200px;
}

.button {
  background-color: #b8abab;
  border-color:#00bf49;
  color: black;
  border-radius: 2px;
  height: 40px;
  width: 100px;
}

.button:hover {
  background-color: black;
  color: white;
}

.text_in_box {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  margin-top: 20px;
  color: white;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

img.bild {
  width: 100%;
  height: auto;
}

.responsive-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  float: left;
}

.responsive-form input[type="text"],
.responsive-form input[type="email"],
.responsive-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 16px;
}

.responsive-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #00bf49;
  color: white;
  border: none;
  cursor: pointer;
}

.responsive-form input[type="submit"]:hover {
  background-color: #595454;
}

.footer {
  display: flex;
  font-size: 16px;
  width: fit-content;
}

.footer div {
  margin-right: 40px;
  width: 100%;
}

.back-to-top {
  color: black;
}

/* Breakpoint: Tablets */
@media only screen and (max-width: 1040px) {

  body {
    font: 200 14px Noto Sans;
    fallback: arial;
    margin-right: 40px;
    margin-left: 40px;
    color: black;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

}

/* Breakpoint: Small Tablets and Large Phones */
@media only screen and (max-width: 768px) {

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  body {
    font: 200 14px Noto Sans;
    fallback: arial;
    margin-right: 40px;
    margin-left: 40px;
    color: black;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .logo-img {
    margin-bottom: 0px;
  }

  .footer {
    display: block;
  }

}

/* Breakpoint: Phones */
@media only screen and (max-width: 490px) {

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
  }

  body {
    font: 200 14px Noto Sans;
    fallback: arial;
    margin-right: 40px;
    margin-left: 40px;
    color: black;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .logo-img {
    margin-bottom: 0px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer {
    display: block;
  }

  .bild_contact {
    width: 100%;
    height: auto;
  }

}